---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";

interface Friend {
	id: string;
	name: string;
	age: number;
	isBestFriend: boolean;
}

// Conectar a Firestore
const db = getFirestore(app);
const friendsRef = db.collection("friends");
const friendsSnapshot = await friendsRef.get();

// Obtener los amigos de Firestore
const friends = friendsSnapshot.docs.map((doc) => ({
	id: doc.id,
	...doc.data(),
})) as Friend[];
---

<Layout title="Lista de Amigos">
	<h1>Lista de Amigos</h1>
	<ul>
		{
			friends.map((friend) => (
				<li key={friend.id}>
					<a href={`/friend/${friend.id}`}>{friend.name}</a>
					<span> ({friend.age})</span>
					<strong>
						{friend.isBestFriend ? "Mejor amigo" : "Amigo"}
					</strong>
				</li>
			))
		}
	</ul>
</Layout>